*{
    margin: 0;
}

.Flex-Cont{
    display:flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
        
    align-items: stretch;

    background-color: green;
}


.Test-Box{
    display: flex;
    
    font-size: 48px;
    font-weight: bold;
    width: 100px;
    
}

.Test-Box:nth-child(odd){
    background-color: red;
}
.Test-Box:nth-child(even){
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Temp-Box{
    display:flex;
}